header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #666;
  padding-left: 30px;
  padding-top: 15px;
  height: 100px;
  text-align: left;
  font-size: 35px;
  color: white;
  z-index: 1000;
}

ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

div {
  color: white;
}

#content {
  display: flex;
  margin-top: 100px;
  height: calc(100vh - 100px);
  width: 100vw;
  box-sizing: border-box;
}

#infoWindow {
  flex: 1;
  background-color: #777;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

#projectWindow {
  width: 350px;
  background-color: #444;
  color: white;
  text-align: center;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

#projectWindow img {
  width: 256px;
  height: 256px;
  margin: 10px 0; 
  cursor: pointer;
}

#about, #thekleinevent {
  padding: 20px;
  display: none;
}

#about {
  display: flex;
}


