header {
  background-color: #666;
  padding-left: 30px;
  padding-top: 10px;
  height: 100px;
  text-align: left;
  font-size: 35px;
  color: white;
}

ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

div {
  margin-left: 50px;
  color: "white";
}

#projectWindow {
  width: 25%;
  float: right;
  background-color: #666;
  color: white;
  text-align: center;
}

#projectLink {
  text-align: center;
  color: white;
}

#infoWindow {
  width: 75%;
  float: left;
  background-color: #666;
  color: white;
}

